# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.1*

# Compiled Static libraries
*.lai
*.la
*.a

# dunno what this is
*.d

# quilt / patch remnants
*.orig
patches/
.pc/

# dirs
libdvbpsi/
usr/

# compiled binary
dvbtee/dvbtee
parser_example/parser
server_example/server
walk_hls/walk_hls

# other build stuff
.x86
Makefile

# deb package build dir
deb/build/
